.container__main-card{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main-card__title h1{
    margin-top: 11px;
    font-size: 25px;
}
.main-card__description p{
    border: 1px solid transparent;
    padding: 5px;
    margin-top: 9px;
    color: grey;
}
.main-card__photo img{
    min-width: 100%;
    border-radius: 5px;
}

.main-card__title h1 a:hover{
    color: rgb(209, 190, 15);
}

@media (max-width: 500px) {
    .main-card__title h1{
        font-size: 23px;
    }
    .main-card__photo img{
        height: 160px;
    }
}