.articles{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.articles > div{
    margin-left: 5%;
}

@media (max-width: 1000px) {
    .articles{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .articles > div{
        margin-bottom: 20px;
    }
}