/* You can add global styles to this file, and also import other style files */
*{
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}